*{
  margin:0;
  padding:0;
}

.hidden{
  visibility: hidden;
}

h1{
  text-align: center;
  margin: 30px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startGame{
  text-align: center;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  padding: 20px;
}

.startButton{
  margin-top: 10px;
  padding: 5px;
  background-color: #3fe64b;
  border-radius: 3px;
  border-color: #3fe64b;
}

#game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionContainer,
.gameInformation{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  padding: 10px;
}

.gameInformation{
  width: 200px;
}

.timerContainer,
.goodAnswerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.gameInformation h4{
  margin-right: 5px;
}

.questionContainer{
  margin: 30px;
  align-items: center;
}

.answersList{
  margin: 30px;
}

.nextButton{
  padding: 5px;
  background-color: yellow;
  border-radius: 3px;
  border-color: yellow;
}